<%- include ('partials/header.ejs'); -%>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div> 
                <center>
                    <h1 style="color:rgb(12, 12, 146)">Download Inform of tags seen by date</h1>
                    <hr width="80%" color="gren" />
                </center>
            </div>            
            <br>
            <br>
            <div class="form-row">      
                    <div class="form-group col-md-6">
                        <label for="start">Start date:</label>
                        <input type="date" class="" name="initial_date" id="initial-date" placeholder="Initial Date" required>                    
                    </div>
            </div>      
            <div class="form-row">    
                    <div class="form-group col-md-4">
                        <label for="start">End date:</label>  
                        <input type="date" class="" name="end_date" id="end-date" placeholder="End Date" required>
                    </div>
            </div>
            <br>
            
            <button type="submit" class="btn btn-primary float-center">Download Inform</button>
        </form>
    </div>
</div>
</body>
</html>