<%- include ('partials/header.ejs'); -%>    
    <div class="table-wrapper">   

        <center>
            <h1 style="color:rgb(12, 12, 146)">Radio detected</h1>
            <hr width="80%" color="gren" />
            <img src="https://www.radiotrader.co.uk/SiteAssetImage.axd?Url=%2FNewsArticles%2F1nothwl2637202143331995977.png" style="width:800px;height:600px;" >
            
        </center>
       
    </div>
</div>
</body>
</html>
