<%- include ('partials/header.ejs'); -%>    
    <div class="table-wrapper">   
       
        <center>
            <h1 style="color:rgb(12, 12, 146)">Scanner detected</h1>
            <hr width="80%" color="gren" />
            <img src="https://www.zebra.com/us/en/products/spec-sheets/mobile-computers/handheld/mc3300x/_jcr_content/mainpar/columncontrol_35ea/col1par/imagecomponent_2b4c/image.adapt.1280.jpg/1588956423767.jpg" style="width:800px;height:600px;" >
            
        </center>
        
    </div>
</div>
</body>
</html>
